<!DOCTYPE html>
<html>
    <head>
        <title>Stocks Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        <h1> Stock Screener </h1>
        <div id="input">
            <p> Enter Average 5 year PE:</p>
            <input type="number" id="pe"/>
            <p> Enter Average 5 year income growth:</p>
            <input type="number"/>
            <button onclick="sendParam()">Run Screening</button>
        </div>

        <div id="result">
            <h2> Screening result: </h2>
            <table id="resultTable">
            </table>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>