<!DOCTYPE html>
<html>
    <head>
        <title>Stocks Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        <h1> Stock Screener </h1>
        <div id="input">
            <p> Enter Average 5 year PE:</p>
            <input type="checkbox" id="cbpe"/>
            <input type="number" id="pe"/>
            <p> Enter Average income growth:</p>
            <input type="checkbox" id="cbig"/>
            <select id="years">
                <option value="5">5 years</option>
                <option value="10">10 years</option>
                <option value="20">20 years</option>
            </select>
            <input type="number" id="growth"/>
            <p> No negative income: </p>
            <input type="checkbox" id="negative"/>
            <p> Volatility checker: </p>
            <input type="checkbox" id="volatility"/>
            <br/>
            <button onclick="sendParam()">Run Screening</button>
        </div>

        <div id="result">
            <h2> Screening result: </h2>
            <table id="resultTable">
            </table>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>